* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
}

.Container {
  width: 100%;
  height: 100vh;
}

#header {
  background-color: #a10000;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#system {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
#system > header {
  text-align: center;
  margin: 25px 0;
}
#system > header > h3 {
  margin: 25px 0;
}
.cards {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#card {
  background-color: #ddd;
  min-width: 5rem;
  min-height: 8rem;
  margin: 25px 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#card > p {
  margin: 15px 0;
}

#footer-down {
  color: white;
  text-align: center;
  height: 250px;
  background-color: #a10000;
  margin-top: 65px;
}

/* Style Global */

.Button {
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.Button:hover {
  background-color: #a10000;
  transform: scale(1.1);
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px) {
  /* tablets */
  .cards {
    display: block;
  }
  #card {
    min-width: 70%;
  }
}
