* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.Container {
  width: 100%;
  height: 100vh;
}

#logo {
  margin-right: 2%;
  margin-left: 2%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#header {
  background-color: #a10000;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header > p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#system {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
#system > header {
  text-align: center;
  margin: 25px 0;
}
#system > header > h3 {
  margin: 25px 0;
}
.cards {
  width: 100%;
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#card {
  background-color: #a10000;
  min-width: 5rem;
  min-height: 8rem;
  margin: 25px 0;
  padding-top: 5%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px 0px rgb(78, 0, 0);
  transition: 1s;
  color: #ddd;
  border-radius: 1%;
}

#card:hover {
  background-color: #f5f5f5;
  color: #000;
}

#card > p {
  margin-top: 15px 0;
}

#card > img {
  width: 100%;
  margin-bottom: 20px;
}

#card > button > a {
  text-decoration: none;
  color: white;
}

.circulos {
  margin-top: 6%;
}

.navegation {
  position: absolute;
  transform: translate(-50%);
  display: flex;
}

.bar {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 1px;
  padding-bottom: 1px;
  box-shadow: 0 0 4px black;
  margin: 5px;
  cursor: pointer;
  background-color: #e4e4e4;
  transition: 0.6s;
  border-radius: 100%;
}

.bar:hover {
  background-color: #a10000;
}

#subtitle {
  color: rgb(255, 154, 71);
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  display: none;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#slide1 > :checked ~ .s1 {
  margin-left: 0;
}

#slide2 > :checked ~ .s1 {
  margin-left: -20%;
}

#slide2 > :checked ~ .s1 {
  margin-left: -40%;
}

/* Style Global */

.Button {
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #ff9100;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.Button:hover {
  background-color: #a10000;
  transform: scale(1.1);
}

#hr {
  margin-top: 20px;
}

#rodape {
  color: white;
  text-align: center;
  background-color: #a10000;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#link {
  text-decoration: none;
  color: rgb(255, 154, 71);
}

#link:hover {
  color: rgb(255, 217, 0);
  transition: 0.6s;
}

/* MEDIA QUERYS */

@media screen and (max-width: 768px) {
  /* tablets */
  .cards {
    display: block;
  }
  #card {
    min-width: 70%;
  }
}
